# Costo de transacción en USD
REACT_APP_TX_COST_USD=3

# Dirección del contrato KardexNFT desplegado
REACT_APP_CONTRACT_ADDRESS_KARDEX_NFT=0xYourKardexNFTContractAddress

# Dirección del contrato StudentManagement desplegado
REACT_APP_CONTRACT_ADDRESS_STUDENT_MANAGEMENT=0xYourStudentManagementContractAddress

# URL de tu gateway de IPFS
REACT_APP_IPFS_GATEWAY=https://your-ipfs-gateway/